<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
      Name="OpenAssetWatch Agent"
      Manufacturer="OpenAssetWatch"
      Version="$(var.MsiVersion)"
      UpgradeCode="{9D05C0CF-BB78-4A3B-8E4C-3F9911846D9B}"
      Scope="perMachine"
      Compressed="yes">

    <SummaryInformation Description="OpenAssetWatch Agent $(var.ReleaseVersion) $(var.TargetArch)" Manufacturer="OpenAssetWatch" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of OpenAssetWatch Agent is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="OpenAssetWatch Agent" Level="1">
      <ComponentGroupRef Id="AgentComponents" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="OpenAssetWatchProgramFiles" Name="OpenAssetWatch">
        <Directory Id="AgentProgramFiles" Name="Agent">
          <Directory Id="AgentBinDir" Name="bin" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="OpenAssetWatchProgramData" Name="OpenAssetWatch">
        <Directory Id="AgentProgramData" Name="Agent">
          <Directory Id="AgentConfigDir" Name="config" />
          <Directory Id="AgentIdentityDir" Name="identity" />
          <Directory Id="AgentStateDir" Name="state" />
          <Directory Id="AgentLogsDir" Name="logs" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="AgentComponents">
      <ComponentRef Id="AgentProgramFilesComponent" />
      <ComponentRef Id="AgentConfigExampleComponent" />
      <ComponentRef Id="AgentIdentityExampleComponent" />
      <ComponentRef Id="AgentStateDirectoryComponent" />
      <ComponentRef Id="AgentLogsDirectoryComponent" />
      <ComponentRef Id="AgentServiceComponent" />
    </ComponentGroup>

    <DirectoryRef Id="AgentBinDir">
      <Component Id="AgentProgramFilesComponent" Guid="{FB61A2C5-9B55-4C12-A821-7C7A2772F4C1}" Bitness="always64">
        <File Id="AgentExe" Source="$(var.SourceDir)\ProgramFiles\OpenAssetWatch\Agent\bin\oaw-agent.exe" KeyPath="yes" />
        <ServiceInstall
            Id="OpenAssetWatchAgentServiceInstall"
            Type="ownProcess"
            Vital="yes"
            Name="OpenAssetWatchAgent"
            DisplayName="OpenAssetWatch Agent"
            Description="OpenAssetWatch local endpoint agent"
            Start="auto"
            Account="NT AUTHORITY\LocalService"
            ErrorControl="normal"
            Arguments="service run --config &quot;[AgentConfigDir]config.json&quot; --identity-file &quot;[AgentIdentityDir]identity.json&quot; --output-dir &quot;[AgentStateDir]&quot;" />
        <ServiceControl
            Id="OpenAssetWatchAgentServiceControl"
            Name="OpenAssetWatchAgent"
            Start="install"
            Stop="both"
            Remove="uninstall"
            Wait="yes" />
        <util:ServiceConfig
            ServiceName="OpenAssetWatchAgent"
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="none"
            RestartServiceDelayInSeconds="300"
            ResetPeriodInDays="1" />
        <util:EventSource
            Name="OpenAssetWatchAgent"
            Log="Application"
            EventMessageFile="[AgentBinDir]oaw-agent.exe" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AgentConfigDir">
      <Component Id="AgentConfigExampleComponent" Guid="{5E99462F-6D79-49B1-843E-650B88F737D0}" Bitness="always64">
        <File Id="ConfigExample" Source="$(var.SourceDir)\ProgramData\OpenAssetWatch\Agent\config\config.example.json" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AgentIdentityDir">
      <Component Id="AgentIdentityExampleComponent" Guid="{C090C634-55BA-42B4-A222-C7F9C24F489E}" Bitness="always64">
        <File Id="IdentityExample" Source="$(var.SourceDir)\ProgramData\OpenAssetWatch\Agent\identity\identity.example.json" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AgentStateDir">
      <Component Id="AgentStateDirectoryComponent" Guid="{0D5DD40C-04B7-4A4F-85A0-A8C92993D913}" Bitness="always64">
        <CreateFolder>
          <util:PermissionEx User="LocalService" GenericRead="yes" GenericWrite="yes" GenericExecute="yes" />
        </CreateFolder>
        <RegistryValue Root="HKLM" Key="Software\OpenAssetWatch\Agent" Name="StateDir" Type="string" Value="[AgentStateDir]" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AgentLogsDir">
      <Component Id="AgentLogsDirectoryComponent" Guid="{82D673B1-B84B-48B2-A738-98DDFE94D528}" Bitness="always64">
        <CreateFolder>
          <util:PermissionEx User="LocalService" GenericRead="yes" GenericWrite="yes" GenericExecute="yes" />
        </CreateFolder>
        <RegistryValue Root="HKLM" Key="Software\OpenAssetWatch\Agent" Name="LogDir" Type="string" Value="[AgentLogsDir]" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AgentProgramData">
      <Component Id="AgentServiceComponent" Guid="{84B3F42B-9DB7-44C3-8EA9-B07AC1A15C57}" Bitness="always64">
        <RegistryValue Root="HKLM" Key="Software\OpenAssetWatch\Agent" Name="InstalledVersion" Type="string" Value="$(var.ReleaseVersion)" KeyPath="yes" />
        <RegistryValue Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\OpenAssetWatchAgent" Name="DelayedAutoStart" Type="integer" Value="1" />
      </Component>
    </DirectoryRef>
  </Package>
</Wix>
